:root {
  color-scheme: light;
  font: 14px/1.4 -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

button {
  font-family: inherit;
}

input[type="number"] {
  font-family: inherit;
}
